<div class="container">
<u><h2 style="background-color:lightgrey" align="center">RESUME</h2></u>
<!-- <a routerLink="/profile" style="font-size: 30px ">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/academicdetails" style="font-size: 30px ">Academic Details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/projects" style="font-size: 30px">Projects</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/technicalskils" style="font-size: 30px">Technical Skills</a> -->
<div class="row">
<div class="col-3">
	<a routerLink="/profile" style="font-size: 30px ">Profile</a>
</div>
<div class="col-3">
	<a routerLink="/academicdetails" style="font-size: 30px ">Academic Details</a>
</div>
<div class="col-3">
	<a routerLink="/projects" style="font-size: 30px">Projects</a>
</div>
<div class="col-3">
	<a routerLink="/technicalskils" style="font-size: 30px">Technical Skills</a>
</div>
</div>
</div>
<router-outlet></router-outlet>