
<div class="container">
<u><h2 style="background-color:lightgrey" align="center">Profile</h2></u>
<mat-card style="border: 1px solid #8c8b8b;">
<div class="row font" style="padding: 20px" >
	<div class="col-6">
		<b>NAME: </b>
	</div>
	<div class="col-6">
		Priyanka Sanjay Mahajan
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row font" style="padding: 20px">
	<div class="col-6">
		<b>EMAIL:</b> 
	</div>
	<div class="col-6">
		piyumahajan24@gmail.com
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row font" style="padding: 20px">
	<div class="col-6">
		<b>Contact No:</b> 
	</div>
	<div class="col-6">
		9420958878
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row font" style="padding: 20px">
	<div class="col-6">
		<b>Date of Birth</b> 
	</div>
	<div class="col-6">
		24/09/1996
	</div>
</div>

</mat-card>





</div>