<html>
<div class="container" >
<u><h2 style="background-color:lightgrey" align="center">Projects</h2></u>
<mat-card class="head_font" style="border: 1px solid #8c8b8b;">
<div class="row " style="padding: 20px">
	<div class="col-4">
		Project Title
	</div>
	<div class="col-8">
		Hospital Management System
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row " style="padding: 20px" >
	<div class="col-4">
		Discription
	</div>
	<div class="col-8">
		This project is design to hold the information related to booking of appointments by reception so that time cannot overlap
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row " style="padding: 20px" >
	<div class="col-4">
		Technology/Tools
	</div>
	<div class="col-8">
		Java
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row " style="padding: 20px">
	<div class="col-4">
		Project Title
	</div>
	<div class="col-8">
		MKTG.Doctor platform
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row " style="padding: 20px" >
	<div class="col-4">
		Discription
	</div>
	<div class="col-8">
		MKTG.Doctor is an all-in-one digital marketing platform for doctors that leverages 360° marketing strategies to acquire new patients, re-engage existing patients, improve patient’s experience, streamline doctors’ front desks, and justify their marketing spend. The platform understands the challenges and opportunities medical practitioners face and helps them activate, manage, and optimize digital marketing campaigns across all social media platforms to maximize their marketing investment.
	</div>
</div>
<mat-divider class="divider_color"></mat-divider>
<div class="row " style="padding: 20px" >
	<div class="col-4">
		Technology/Tools
	</div>
	<div class="col-8">
		Angular8/Python
	</div>
</div>
</mat-card>
</div>
</html>

